* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 720px);
}

.main__header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background-image: url(img/Rectangle1.jpg);
}
.main__header_welcome {
  padding-top: 217px;
  max-width: 788.78px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}
.main__header_text {
  margin-top: 32px;
  margin-bottom: 44px;
  max-width: 481px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.main__header_button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.main__header_button:hover {
  background: #EB443F;
  cursor: pointer;
}

.second__header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  min-height: 556px;
  background: #000915;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  flex-wrap: wrap;
}
.second__header_play {
  max-width: 379px;
}
.second__header_play-img {
  border-radius: 16px;
}
.second__header_play-img:hover {
  border: 3px solid #44D2FF;
  border-radius: 16px;
  cursor: pointer;
}
.second__header_play-text {
  width: 79px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  position: relative;
  left: 28px;
  bottom: 63px;
}

.years__play {
  max-width: 1440px;
  min-height: 556px;
  background: #000915;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 135px;
  flex-wrap: wrap;
}
.years__play_items {
  max-width: 584px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}
.years__play_text1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.years__play_text2 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.rem__play {
  max-width: 1440px;
  min-height: 556px;
  background: #000915;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 135px;
  flex-wrap: wrap;
}
.rem__play_items {
  max-width: 588px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: flex-start;
}
.rem__play_text1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.rem__play_text2 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.zagadki__play {
  max-width: 1440px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(img/unsplash_iO0I6-mhDEY.jpg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 135px;
  flex-wrap: wrap;
}
.zagadki__play_items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.zagadki__play_text1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.zagadki__play_text2 {
  max-width: 1200px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
}

.footer__main {
  width: auto;
  min-height: 80px;
  background: #000915;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer__main_text {
  width: 1200px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 766px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main__header {
    height: 735px;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .main__header_welcome {
    padding-top: 240px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-align: center;
  }
  .main__header_text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
  }
  .main__header_button:hover {
    background: #9C0332;
  }
  .second__header {
    padding-top: 120px;
    padding-bottom: 127px;
    justify-content: center;
  }
  .second__header_play {
    height: 300px;
  }
  .second__header_play-img {
    width: 343px;
    height: 300px;
  }
  .second__header_play-img:hover {
    border-radius: 16px;
    border: none;
    cursor: none;
  }
  .years__play {
    max-width: 1440px;
    min-height: 654px;
    background: #000915;
    display: flex;
    align-items: flex-start;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .years__play_items {
    padding-top: 51px;
    width: 343px;
    align-items: center;
  }
  .years__play_text1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
  }
  .years__play_text2 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  .years__play_img {
    width: 344px;
    height: 236px;
    margin-bottom: 85px;
  }
  .rem__play {
    max-width: 1440px;
    min-height: 654px;
    background: #000915;
    display: flex;
    align-items: flex-start;
    align-content: center;
    gap: 64px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .rem__play_items {
    padding-top: 51px;
    width: 343px;
    align-items: center;
    justify-content: center;
  }
  .rem__play_text1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
  }
  .rem__play_text2 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  .rem__play_img {
    width: 344px;
    height: 236px;
    margin-bottom: 85px;
  }
  .zagadki__play {
    max-width: 1440px;
    height: 788px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(img/unsplash_iO0I6-mhDEY.jpg);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 135px;
    padding-top: 51px;
    flex-wrap: wrap;
  }
  .zagadki__play_text1 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */