* {
        margin: 0;
        padding: 0;
        font-family: Montserrat, sans-serif;
}
.center{
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 720px);
}

.main__header{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        height: 1024px;
        left: 0px;
        top: 0px;
        background-image: url(img/Rectangle1.jpg);
                &_welcome{
                        padding-top: 217px;
                        max-width: 788.78px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 78px;
                        color: #FFFFFF;     
                }
                &_text{
                        margin-top: 32px;
                        margin-bottom: 44px;
                        max-width: 481px;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 32px;
                        color: #FFFFFF;
                }
                &_button{
                        width: 234.06px;
                        height: 48.6px;
                        background: #9C0332;
                        border-radius: 30px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        color: #FFFFFF;
                }
}
.second__header{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        min-height: 556px;
        background: #000915;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 32px;
        flex-wrap: wrap;
        &_play{
                max-width: 379px;
                &-img{
                border-radius: 16px;
                }
                &-text{
                width: 79px;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #FFFFFF;
                position: relative;
                left: 28px;
                bottom: 63px;
                }
 

        }

}
.years__play{
        max-width: 1440px;
        min-height: 556px;
        background: #000915;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 135px;
        flex-wrap: wrap;
        &_items{
                max-width: 584px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 32px;
        }
        &_text1{
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 59px;
                color: #FFFFFF;
        }
        &_text2{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        }
}
.rem__play{
        max-width: 1440px;
        min-height: 556px;
        background: #000915;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 135px;
        flex-wrap: wrap;
        &_items{
                max-width: 588px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 32px;
                justify-content: flex-start;
        }
        &_text1{
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 59px;
                color: #FFFFFF;
        }
        &_text2{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        }
}
.zagadki__play{
        max-width: 1440px;
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        background-image: url(img/unsplash_iO0I6-mhDEY.jpg);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 135px;
        flex-wrap: wrap;
        &_items{
                max-width: 1200px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 32px;
                justify-content: center;
        }
        &_text1{
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 59px;
                color: #FFFFFF;
        }
        &_text2{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        text-align: center;
        }
}
.footer__main{
        max-width: 1440px;
        min-height: 80px;
        background: #000915;
        display: flex;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &_text{
                width: 256px;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
        }
}
@import "mobile"